@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background-image.png);
    background-size: contain;
}

.support .question {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.contact-us {
    margin-left: 60px;
}

.form {
    width: 340px;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.form .value::placeholder {
    color: #A8A8A8;
}

.form .value {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.form input:not(:last-child) {
    height: 35px;
}

.form input:not(:last-child),
input:not(:first-child),
.doubt-message {
    margin-top: 5px;
}

.form .doubt-message {
    height: 100px;
}

.form .missing-field {
    font-size: 10px;
    line-height: 10px;
    color: #F52E2E;
    opacity: 0;
}

.form #send-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #3CCC87;
    border: 1px solid #3CCC87;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.form #send-btn:hover{
    padding: 15px;
    background-color: #3ccc4d;
    border: 1px solid #3ccc4d;
    color: black;
}

.container,
.form {
    display: flex;
}

.container .support,
.form .value,
.form .doubt-message,
.form #send-btn {
    width: 300px;
}

.support .solution,
.form .required-fields {
    margin-top: 10px;
}

.support .solution,
.form .required-fields,
.form .missing-field {
    font-weight: 400;
}

.form .value::placeholder,
.form #send-btn {
    font-weight: 700;
}

.support .solution,
.form .value::placeholder,
.form .required-fields,
.form #send-btn {
    font-size: 15px;
    line-height: 18px;
}

.container .support,
.form #send-btn {
    color: #FFFFFF
}